.divContenedor {
  padding: 0 30px;
  width: 100svw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ee1c41;
  height: 55px;
  top: 0;
  position: fixed;
  z-index: 100;
  box-sizing: border-box;
  
}

.h1Title {
  font-size: 32px;
  vertical-align: middle;
  
}

.link {
  text-decoration: none;
}

.navbar {
  color: #faf3ee;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.navbarRight {
  justify-content: right;
  gap: 10px;
  font-size: 14px;
}

.navbarLeft {
  justify-content: left;
}
