.EventListPage {
    
    /* limits for page including navbar and footer */

    /* margin-top: 55px; */
    /* margin-bottom: 80px; */
    /* height: 100svh; */
    min-height: 91svh;
    height:100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 30px;
}

.EventList {
    
    width:100%;
    max-width: 1020px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    gap: 40px;
    justify-items: center;
    justify-content: center;
    
    list-style-type: none;
    
}