.eventFormPage {
     /* limits for page including navbar and footer */

     margin-top: 30x;
     margin-bottom: 30px;
     height: 100svh;
 
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     align-items: center;
     padding: 100px 30px;
     overflow: scroll;  

     
}