.eventFormPage {
     /* limits for page including navbar and footer */

    margin-top: 30x;
    margin-bottom: 30px;
    height: 100svh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:baseline;
    padding: 100px 30px;
    overflow: scroll;  
    gap: 30px;     
}

.eventForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 15px;
}

.labelInput {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 15px;
    width: 100%;
    position:relative;

}

.labelInput label {
    font-weight: bold;
    padding-left: 10px;
}

.labelInput input {
    width: 100%;
    height: 26px;
    border-radius: 10px;
    padding: 0 20px;
}

.labelInput textarea {
    width: 100%;    
    border-radius: 10px;
    padding: 10px 20px;
}

.dateHour {
    display: flex;
    gap: 15px;
    width: 100%;
}

.imgButton #file-input-button {
    margin-top: 40px;
    background-color: #EE1C41;
    color: white;
    font-weight: bold;
    padding: 5px 15px;
    border-radius: 20px;
    border: none;
}

.imgButton::-webkit-file-upload-button {
    background-color: #EE1C41;
    color: white;
    font-weight: bold;
    padding: 5px 15px;
    border-radius: 20px;
    border: none;
}

.previewForm {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    gap:10px;
}
.cardPreviewForm {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    gap: 15px;
    background-color:#ee1c4381;
    padding: 20px;
    border-radius: 5px;
}

.eventTitle {
    font-size: 1.5rem;
    text-align:left;
}

.eventPhotoContainer {
    width: 90%;
    aspect-ratio: 3 / 2;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px black;
}

.eventPhoto {
    width: 100%;
    height:fit-content;
}

.eventDetailHeader {
    width: 100%;
    text-align: left;
}

.eventDescription {
    
    text-align: justify;
    min-height: 80px;
    width: 100%;
}

.errorToast {
    position:absolute;
    right: 5px;
    bottom: -20px;
    font-size: smaller;    
}

.submitButton {
    margin-top: 40px;
    background-color: #EE1C41;
    color: white;
    font-weight: bold;
    padding: 5px 15px;
    border-radius: 20px;
    border: none;
    
}